<h1 align="center">Питомцы</h1>
<div>
  <h2><%= link_to "Вернуться к главной", "/" %></h2>
</div>
<style>
  h1 {
    font-family: Impact sans-serif;
  }
  body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: linear-gradient(180deg, rgba(207, 255, 246, 0.7) 0%, rgba(255, 248, 223, 0.7) 60.42%);
  }
</style>
<div>
    <%- @pets.each do |pet|  %>
    <h2><%= pet.name %> <br/></h2>
    <h3>Адрес: <%= pet.location.city %>, <%= ((pet.location.district==nil)?"":(pet.location.district.to_s + ","))%>
      ул. <%=pet.location.street %>, <%=pet.location.house %> <%= ((pet.location.flat==nil)?"":(", кв." + pet.location.flat.to_s))%></h3>
    <h3>Порода: <%= pet.description.breed.name %></h3>
    <h3>Окрас: <%= pet.description.color %></h3>
    <h3>Пол: <%=pet.description.sex %></h3>
    <h3>Возраст: <%= pet.description.age %></h3>
  <%- end %>
</div>