<h1 align="center">События</h1>
<div>
  <h2><%= link_to "Вернуться к главной", "/" %></h2>
</div>
<style>
  h1 {
    font-family: Impact sans-serif;
  }
  body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: linear-gradient(180deg, rgba(207, 255, 246, 0.7) 0%, rgba(255, 248, 223, 0.7) 60.42%);
  }
</style>
<div>
  <%- @events.each do |ev|  %>
    <h2><%= ev.title %> <br/></h2>
    <h3>Место проведения: <%= ev.location.city %>, <%= ((ev.location.district==nil)?"":(ev.location.district.to_s + ","))%>
      ул. <%=ev.location.street %>, <%=ev.location.house %> <%= ((ev.location.flat==nil)?"":(", кв." + ev.location.flat.to_s))%></h3>
    <h3>Дата: <%= ev.event_date %></h3>
    <h3>Автор: <%= ev.user.name %> (<%= ev.user.login %>)</h3>
    <p><%= ev.event_description %></p>
  <%- end %>
</div>